@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="fw-bold text-primary">⚡TechZone⚡</h1>

    <p class="mt-3 fs-5">
        This project is a simple product management system that allows store staff
        to add, view, and manage products easily in one place.
    </p>

    <hr class="my-4" />

    <h5 class="fw-bold">
        wadha sanat (10487)
    </h5>
</div>
